header {
  height: 50px;
  padding: 20px;
  display: flex;
  line-height: 1.7;
  justify-content: space-between;

}

.header-title {
  width: 50%;
  margin-left: 20px;
}

.header-logo {
  font-size: 20px;
}

.header-user-display .signed-in-up {
  justify-content: flex-end;
}

ul{
  display: flex;
}

li {
  margin: 5px;
}