header {
  height: 50px;
  padding: 20px;
  display: flex;
  line-height: 1.7;
  justify-content: space-between;

}

.header-title {
  width: 50%;
  margin-left: 20px;
}

.header-logo {
  font-size: 20px;
}

.header-user {
  width: 50%;
  padding-right: 20px;
}

.header-user-display .signed-in-up {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
}

.signed-in-up {
  display: flex;
  justify-content: flex-end;
}

li {
  margin: 5px 30px 0 0px;
}