header {
  height: 50px;
  padding: 20px;
  display: flex;
  line-height: 1.7;
  justify-content: space-between;

}

.header-title {
  width: 50%;
  margin-left: 20px;
}

.header-logo {
  font-size: 20px;
}

.header-user-display .signed-in-up {
  justify-content: flex-end;
}

.header-user-icon {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  overflow: hidden;
  background-color: rgba($color: #fffdf1, $alpha: 1.0);
}

ul{
  display: flex;
}

li {
  margin: 5px;
}