<header class='page-header wrapper'>
  <div class='header-title'>
    <%= link_to "uchino_aji", "/", class:'header-logo' %>
  </div>
  <div class='header-user'>
    <ul class='header-user-display'>
      <li><%= link_to "user nickname", "#", class:'header-nickname' %></li>
      <li><%= link_to "user アイコン", "#", class:'header-icon'%></li>
    </ul>
  </div>
</header>
