<header class='page-header'>
  <div class='header-left'>
    <%= link_to 'uchino_aji', "/", class:"header-logo" %>
  </div>
  <div class='header-right'>
    <%= link_to 'user nickname', "#", class:"header-nickname" %>
    <%= link_to 'user アイコン', "#", class:"header-icon"%>
  </div>
</header>
