// Place all the styles related to the seasonings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* index -------------------------- */

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url("/images/white-rice-bowl.jpg");
  min-height: 100vh;
}
#home .main-title {
  text-transform: none;
}

.main-content {
  text-align: center;
  margin-top: 10%;
}

.main-content p {
  font-size: 1.125rem;
  margin: 10px 0 42;
  padding-top: 40px;
}

.main-title{
  font-size: 3rem;
}

.main-subtitle {
  margin-bottom: 30px;
}

.serch-form {
  border: solid 1px;
  border-radius: 5px;
  font-size: 16px;
  color: #a0a0a0;
  margin: 10px;
  text-align: center;
}

.lists-title {
  margin: 50px 0 5px;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

.list {
  justify-content: space-around;
  width: min-content;
  margin: 20px;
  padding: 10px;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
  border-radius: 20px;
  box-shadow:
  0 1.7px 1.3px rgba(0, 0, 0, 0.024),
  0 4px 3.2px rgba(0, 0, 0, 0.033),
  0 7.5px 6px rgba(0, 0, 0, 0.04),
  0 13.4px 10.7px rgba(0, 0, 0, 0.049),
  0 25.1px 20.1px rgba(0, 0, 0, 0.059),
  0 60px 48px rgba(0, 0, 0, 0.07)
;
}

.recipe-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius:75px;
  
}

.recipe-title {
  font-weight: bold;
}

.recipe-under-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recipe-time {
  border-bottom: solid 3px #f39c12;
}

.recipe-detail-btn {
  display:inline-block;
  height:40px;
  line-height:40px;
  padding:0 14px;
  box-shadow:0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  background:#fff;
  border-radius:4px;
  transition:all .3s ease
}

.recipe-detail-btn:hover {
  cursor:pointer;
  color:#f39c12;
  transform:translateY(-1px);
  box-shadow:0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)
}
