<div id='home', class='big-bg'> <%#トップページ全画面背景用%>
  <%= render 'shared/header' %>

  <div class='main-content wrapper'>
    <h2 class='main-title'>uchino_aji</h2>
    <p class= 'main-subtitle'>あなたのお家にある調味料から作れるレシピを探してみませんか？</p>
  </div> <%#main-content閉じタグ%>
  
</div> <%#トップページ全画面背景用閉じタグ%>